  <input type="text" class="form-control" placeholder="Event name" ng-model="eventName" ng-required="true">

  <h3>
    <span class="label label-pill label-default">Begin</span>
  </h3>
  <div class="col-md-6">
    <p class="input-group">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openStartDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
      <input type="date" placeholder="dd-MM-yy" class="form-control" uib-datepicker-popup="{{format}}" ng-model="startDate" is-open="status.startDateOpened"  ng-required="true" close-text="Close" />
    </p>
  </div>
  <uib-timepicker class="move-to-top" ng-model="startTime" ng-change="changed()" hour-step="1" minute-step="5" show-meridian="ismeridian"></uib-timepicker>
  <h3>
    <span class="label label-pill label-default">End</span>
  </h3>
  <div class="col-md-6">
    <p class="input-group">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openEndDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
      <input type="date" placeholder="dd-MM-yy" class="form-control" uib-datepicker-popup="{{format}}" ng-model="endDate" is-open="status.endDateOpened"  ng-required="true" close-text="Close" />
    </p>
  </div>
  <uib-timepicker class="move-to-top" ng-model="endTime" ng-change="changed()" hour-step="1" minute-step="5" show-meridian="ismeridian"></uib-timepicker>


  <h3>
    <span class="label label-pill label-default">Description</span>
  </h3>
  <input type="text" class="form-control" placeholder="Add a description" ng-model="description" ng-required="true">

  <h3>
    <span class="label label-pill label-default">Target group</span>
  </h3>
  <input type="text" list="targets" class="form-control" placeholder="Add a target Group" ng-model="targetGroup" ng-required="true">
  <datalist id="targets">
    <option ng-repeat="event in events" value="{{event.targetGroup}}"></option>
  </datalist>

  <h3>
    <span class="label label-pill label-default">Contribution Description</span>
  </h3>
  <input type="text" class="form-control" placeholder="Add a contribution description" ng-model="contributionDescription" ng-required="true">
  <h3>
    <span class="label label-pill label-default">Location</span>
  </h3>
  <h4>Name</h4>
  <input type="text" class="form-control" placeholder="Add a Location-name" ng-model="location.name" ng-required="true">
  <h4>street</h4>
  <input type="text" class="form-control" placeholder="Add a street" ng-model="location.street" ng-required="true">
  <h4>zip-Code</h4>
  <input type="number" class="form-control" placeholder="Add a zipcode, eg: 8640" ng-model="location.plz" ng-required="true"">
  <h4>city</h4>
  <input type="text" class="form-control" placeholder="Add a city" ng-model="location.city" ng-required="true">

  <input class="btn btn-primary" type="submit" value="{{action}}" ng-click="doAction()">
  <input class="btn btn-primary" type="button" value="Cancel" ng-click="back()">
