<input type="text" class="form-control" placeholder="Event name">

<h3>
    <span class="label label-pill label-default">Begin</span>
</h3>
<div class="input-group">
    <input type="date" class="form-control" placeholder="dd/mm/yy">
    <input type="time" class="form-control" placeholder="hh:mm">
</div>
<h3>
    <span class="label label-pill label-default">End</span>
</h3>
<div class="input-group">
    <input type="date" class="form-control" placeholder="dd/mm/yy">
    <input type="time" class="form-control" placeholder="hh:mm">
</div>

<h3>
    <span class="label label-pill label-default">Description</span>
</h3>
<input type="text" class="form-control" placeholder="...">

<h3>
    <span class="label label-pill label-default">Target group</span>
</h3>
<input type="text" class="form-control" placeholder="...">

<h3>
    <span class="label label-pill label-default">Contribution Description</span>
</h3>
<input type="text" class="form-control" placeholder="...">

<input class="btn btn-primary" type="submit" value="Add Event">