<input type="text" class="form-control" placeholder="Event name" ng-model="eventName">

<h3>
    <span class="label label-pill label-default">Begin</span>
</h3>
    <div class="col-md-6">
        <p class="input-group">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openStartDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
            <input type="text" placeholder="dd-MM-yy" class="form-control" uib-datepicker-popup="{{format}}" ng-model="startDate" is-open="status.startDateOpened"  ng-required="true" close-text="Close" />
        </p>
    </div>
    <uib-timepicker ng-model="startTime" ng-change="changed()" hour-step="1" minute-step="5" show-meridian="ismeridian"></uib-timepicker>
<h3>
    <span class="label label-pill label-default">End</span>
</h3>
    <div class="col-md-6">
        <p class="input-group">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openEndDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
                <input type="text" placeholder="dd-MM-yy" class="form-control" uib-datepicker-popup="{{format}}" ng-model="endDate" is-open="status.endDateOpened"  ng-required="true" close-text="Close" />
        </p>
    </div>
    <uib-timepicker ng-model="endTime" ng-change="changed()" hour-step="1" minute-step="5" show-meridian="ismeridian"></uib-timepicker>


<h3>
    <span class="label label-pill label-default">Description</span>
</h3>
<input type="text" class="form-control" placeholder="..." ng-model="description">

<h3>
    <span class="label label-pill label-default">Target group</span>
</h3>
<input type="text" list="targets" class="form-control" placeholder="..." ng-model="targetGroup">
<datalist id="targets">
    <option ng-repeat="event in events" value="{{event.targetGroup}}"></option>
</datalist>

<h3>
    <span class="label label-pill label-default">Contribution Description</span>
</h3>
<input type="text" class="form-control" placeholder="..." ng-model="contributionDescription">
<h3>
    <span class="label label-pill label-default">Location</span>
</h3>
<h4>Name</h4>
<input type="text" class="form-control" placeholder="..." ng-model="location.name">
<h4>street</h4>
<input type="text" class="form-control" placeholder="..." ng-model="location.street">
<h4>zip-Code</h4>
<input type="text" class="form-control" placeholder="..." ng-model="location.plz">
<h4>city</h4>
<input type="text" class="form-control" placeholder="..." ng-model="location.city">

<input class="btn btn-primary" type="submit" value="{{action}}" ng-click="doAction()">
<input class="btn btn-primary" type="button" value="Cancel" ng-click="back()">

<!--datetimepicker data-ng-model="data.date" data-on-set-time="onTimeSet(newDate, oldDate)"></datetimepicker>