<h2>{{event.name}} ({{amountOfGuests}} Guests)</h2>
<p>{{event.description}}</p>
<p data-ng-if="event.maximalAmoutOfGuests">
<strong>Maximal amount of guests:</strong>
{{event.maximalAmoutOfGuests}}
</p>

<h3 data-ng-if="event.targetGroup">Target group</h3>
<p data-ng-if="event.targetGroup">{{event.targetGroup}}</p>

<h3 data-ng-if="event.contributionsDescription">contributions Description</h3>
<p data-ng-if="event.contributionsDescription">{{event.contributionsDescription}}</p>

<h3>Location</h3>
<p>
<strong>{{event.location.name}}</strong><br />
{{event.location.street}}<br />
{{event.location.plz}} {{event.location.city}}
</p>

<h3>Date & time</h3>
<p>{{event.times.begin | date:"dd.MM.yy HH:mm"}} - {{event.times.end | date:"dd.MM.yy HH:mm"}}</p>

<h3 data-ng-if="event.preparation">Preparation</h3>
<p data-ng-if="event.preparation">{{event.preparationBegin | date:"dd.MM.yy HH:mm"}} - {{event.preparationEnd | date:"dd.MM.yy HH:mm"}}</p>

<h3>Guests</h3>
<ul>
    <li data-ng-if="amountOfGuests != 0" data-ng-repeat="guest in event.guests">
    	<div data-ng-if="guest.canceled == false">
	        <span>Name: {{guest.name}}</span>
	        <span data-ng-if="guest.comment" >Comment: {{guest.comment}}</span>
	        <span data-ng-if="guest.contribution" >Contribution: {{guest.contribution}}</span>
	        <span><a data-ng-href="#/events/{{event.id}}/editGuest/{{guest.id}}">Edit</a></span>
	        <span><a ng-click="cancelRegistration(guest)">Cancel</a></span>
        </div>
    </li>
    <div data-ng-if="amountOfGuests == 0">
    	There are no registrated guests.
    </div>
</ul>
<a data-ng-href="#/events/{{event.id}}/addGuest">Add a Guest</a><br>
<input class="btn btn-primary" type="button" value="Back" ng-click="back()">
