<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Lafete</title>
</head>
<body>
    <!-- View Container
    <div ng-view></div>-->

    <div data-ng-app="lafete">
        <ul data-ng-controller="EventListController">
           <!-- <li data-ng-repeat="event in events">
                {{event.name}}, {{event.place}}, {{event.date | date:"dd.MM.yy"}}
            </li>-->
            <li data-ng-repeat="event in events">
                <strong>{{event.name}}</strong>
                {{event.location.name}}, {{event.location.street}}, {{event.location.zipCode}},{{event.location.city}}
                {{event.times.begin | date:"dd.MM.yy HH:mm"}} - {{event.times.end | date:"dd.MM.yy HH:mm"}}
            </li>
        </ul>
    </div>

    <!-- Libraries, Frameworks, Applikationscode -->
    <script src="./libraries/require/require-js.min.js" data-main="./classes/main.js"></script>
</body>
</html>