/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    #container {
    	display: flex;
 		align-items: center;
 		justify-content: center;
 		flex-flow: column;
    }

    #content {
    	width: 80%;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
	#container {
    	display: flex;
 		align-items: center;
 		justify-content: center;
 		flex-flow: column;
    }

    #content {
    	width: 80%;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    #container {
    	display: flex;
 		align-items: center;
 		justify-content: center;
 		flex-flow: column;
    }

    #content {
    	width: 50%;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    #container {
    	display: flex;
 		align-items: center;
 		justify-content: center;
 		flex-flow: column;
    }

    #content {
    	width: 40%;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    #container {
    	display: flex;
 		align-items: center;
 		justify-content: center;
 		flex-flow: column;
    }

    #content {
    	width: 40%;
    }
}